@font-face {
    font-family: PT Sans; /* Имя шрифта */
    src: url(PT_Sans-Web-Regular.ttf); /* Путь к файлу со шрифтом */
   }
body{
  font-size: 14px;
  line-height: 22px;
  font-family: PT Sans;
  background-color: #ffffff;
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;


}
.menu ul{
  list-style-type: none;
}
.menu li{
  display: inline;
  margin:10px;
}
.header{
  background-color: #dcdcdc;
  width: 100%;
  height:230px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  padding-top:65px;
}
.logo{
  justify-content: flex-start;
}
.contacts{
  justify-content: flex-end;
  padding-right: 210px;
  max-width: 25em; 
  min-height: 2em;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.menu{
  background-color: #767676;
  height: 80px;
  width: 100%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;

}
.content{
  display: flex;
  flex-direction: row;
  margin-bottom: 195px;
}
.news{
  align-items: flex-start;
  width: 25%;
  height: 100%;
  margin-left:210px;
  margin-top:30px;
  background-color: #777777;
  padding-top: 22px;
  padding-left:34px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: left;
}
.about{
  justify-content: flex-end;
  width: 55%;
  color: rgb(118, 118, 118);
  text-align: left;
  margin-left: 60px;
  margin-top: 52px;
  margin-right:200px;
  box-sizing: border-box;
}
.about h1{
  font-size: 40px;
  line-height: 1.0;
  font-weight: normal;
}
.footer{
  background-color: #777777;
  width: 100%;
  height: 220px;
  justify-content: flex-end;
  display: flex;
 flex-direction: row;
  margin-bottom: 0;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-top:50px;
   

}
.menu li:hover{
  border-bottom: 1px white solid;
}
.contacts p{
  font-size: 40px;
  color: rgb(118, 118, 118);
  line-height: 1.15;
  text-align: right;
   margin:0px;

 }
 .slider p{
  text-align: center;
  margin: 0px;
 }

 @media (min-width:900px) and (max-width:1300px) {
   .slider{
       display:none;
   }
}

.news h1{

  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.15;
  text-align: left;
  font-weight: normal;

}
.news span{
  font-style: italic;
}
.archive{
  
  text-align: right;
  margin-right:25px;
  margin-bottom:110px;
}
.logo img{
  margin-left: 210px;
}
.company{
  padding-left:210px;
  margin-left: 0px;
  margin-right: auto;


}
.footer-menu li{
  text-decoration: underline;
  list-style-type: none;
}
.developer{
  margin-right: 0px;
  padding-right: 210px;
  margin-left: auto;
}
.developer img{
  float: left;
  margin: 2px;
}
